* {
  box-sizing: border-box;
}

aside {
  width: 33.33333%;
  float: left;
  margin-top:2.5%;
  border: solid red;
  padding-left: 2.5%;
}

nav {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #F5E7CB;
  border-radius: 6px;
  padding: 8px;
  border: solid red;
}

a:hover {
  text-decoration:none;
  background-color: #DED3AD;
  padding-top:8px;
  padding-bottom:8px;
}

body {
  font-family: "Arial";
}

article {
  font-size:1vw;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  margin-left: 0;
}

.header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration: underline;
  font-family: "Arial";
}

.main {
  width: 33.33333%;
  text-align: center;
  border: solid red;
  float: left;
  margin-top: 2.5%;
}

.footer {
  border: 1px solid red;
  padding: 15px;
}

.rightside {
  float: right;
  text-align: center;
  border: solid red;
  width:33.33333%;
  margin-top:2.5%;
}
#button {
  margin-left:0.5%;
  margin-right:0.5%;
  color: black;
}
#red {
  border: thin dotted red;
}
#brown {
  border: solid #E1BD90; border-width:5px;
}

#pageon {
  background-color: #DED3AD;
  padding: 6px;
  border-radius: 6px;
  border: solid black;
  margin-left: auto;
  margin-right: auto;
}

#midposition {
  font-size:2.3vw;
}

#Ontario {
  width: 100%;
  text-align: center;
  border: solid red;
}
