* {
  box-sizing: border-box;
}

aside {
  width: 30%;
  float: left;
  margin-top:2.5%;
}

nav {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #F5E7CB;
  border-radius: 6px;
  padding: 8px;
  border: solid red;
}

a:hover {
  text-decoration:none;
  background-color: #DED3AD;
  padding-top:8px;
  padding-bottom:8px;
}

body{
  font-family: "Arial";
}

article {
  font-size:1vw;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-decoration: underline;
  font-family: "Arial";
}

.menu {
  width: 25%;
  float:left;
  padding: 15px;
}

.main {
  width: 33%;
  text-align: center;
  border: solid red;
  margin-left:3.5%;
  float: left;
}

.footer {
  border: 1px solid red;
  padding: 15px;
}

.rightside {
  float: right;
  text-align: center;
  border: solid red;
  width:33%;
  margin-top:2.5%;
}
#button{
  margin-left:0.5%;
  margin-right:0.5%;
  color: black;
}
#red{
  border: thin dotted red;
}
#brown{
  border: solid #E1BD90; border-width:5px;
}

#pageon{
  background-color: #DED3AD;
  padding: 6px;
  border-radius: 6px;
  border: solid black;
  margin-left: auto;
  margin-right: auto;
}
#midposition{
  font-size:2.3vw;
}
#extrainfo{
  font-size:0.9vw;
  padding-left: 17%;
}
#picture{
  padding-left: 17%;
}
#Ontario{
  width: 100%;
  text-align: center;
  border: solid red;
}
